{{- $data := dict }}

{{- $email := "" -}}
{{- if (hasKey . "email") -}}
    {{- $_ := set $data "email" .email }}
{{-   $email = .email -}}
{{- else if (env "CODESPACES") -}}
{{- /* No need to set email in code spaces */ -}}
{{- else if (env "DOTFILES_EMAIL") -}}
{{-     $email = env "DOTFILES_EMAIL" -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}


{{- if (hasKey . "signingkey") }}
    {{- $_ := set $data "signingKey" .signingkey }}
{{- end }}

{{- if (hasKey . "forcegitsigning") }}
    {{- $_ := set $data "forceGitSigning" .forcegitsigning }}
{{- end }}

{{- $isWork := regexMatch "^eanderson[0-9]+-mac$" .chezmoi.hostname }}
{{- $internalGitHost := "" }}
{{- if $isWork }}
{{-   if (hasKey . "internalgithost") }}
{{-     $internalGitHost = .internalgithost }}
{{-   else }}
{{-     $internalGitHost = promptString "internal git hostname (e.g. github.example.com)" }}
{{-   end }}
{{- end }}

[data]
    email = {{ $email | quote }}
    internalGitHost = {{ $internalGitHost | quote }}

{{- if (hasKey . "signingkey") }}
    signingKey = "{{ .signingkey }}"
{{- end }}
{{- if (hasKey . "forcegitsigning") }}
    forceGitSigning = "{{ .forcegitsigning }}"
{{- end }}

{{ dict "data2" $data | toToml }}
