#!/bin/bash

# vimrc hash: {{ include "dot_vimrc" | sha256sum }}

if ! type "vim" > /dev/null; then
    echo "No vim installed. Skipping plugin install"
else
    echo "Installing VIM Plugins"
    vim +'PlugUpdate --sync' +qa  
fi
