#!/bin/bash

# vimrc hash: {{ include "dot_vimrc" | sha256sum }}

if command -v pip3 &> /dev/null; then
    echo "Installing VIM Plugins"
    vim +'PlugUpdate --sync' +qa  
else    
    echo "No vim installed. Skipping plugin install"
fi
