{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Brewfile hash: {{ include "Brewfile.tmpl" | sha256sum }}
# Brewfile.common hash: {{ include "Brewfile.common" | sha256sum }}
# Brewfile.work hash: {{ include "Brewfile.work" | sha256sum }}
brew bundle --no-lock --file=Brewfile
{{ end -}}