# Include machine-specific SSH configurations
Include {{ .chezmoi.homeDir }}/.ssh/local_config

{{- if and (eq .chezmoi.os "darwin") (regexMatch "eanderson[0-9]+-mac" .chezmoi.hostname) -}}
Include {{ .chezmoi.homeDir }}/.ssh/coder_config

Host localhost
    HostName localhost
    Port 2222
    User eanderson

Host coder.*
  RemoteForward /home/coder/.gnupg/S.gpg-agent {{ .chezmoi.homeDir }}/.gnupg/S.gpg-agent.extra

{{ end -}}

# Ensure rsa is enabled on machines that are being 'helpful' fips.
Host *
  PubkeyAcceptedKeyTypes=+ssh-rsa
  HostKeyAlgorithms=+ssh-rsa

