# Exclude everything by default
/*

# But we want these git things
!/.gitignore
!/.gitkeep

# We want nvim
!/nvim
# But not the plugins, we can just install those each time
/nvim/plugged

# We want ccstatusline settings
!/private_ccstatusline
!/private_ccstatusline/**

# We want nerdfonts config and data
!/nerdfonts
!/nerdfonts/**
